@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
	:root {
		--font-sans: Raleway, ui-sans-serif, system-ui, sans-serif;
		--font-mono: 'Roboto Mono', monospace;
	}
}

/* Creating custom font utility classes */
@layer utilities {
	.font-text {
		font-family: var(--font-sans);
	}

	.font-heading {
		font-family: var(--font-mono);
	}
}
